{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block links %}
	<ul class="navbar-nav">
		<li class="nav-item"><a href="/" class="nav-link active">Home</a></li>
		<li class="nav-item"><a href="/about" class="nav-link">About</a></li>
		<li class="nav-item"><a href="/contact" class="nav-link active">Contact</a></li>
		<li class="nav-item"><a href="/apply" class="nav-link active">Apply</a></li>
	</ul>
{% endblock %}

{% block crumb %}
    About
{% endblock %}

{% block main %}

	<div class="container">

		<div class="container px-4" id="custom-cards">
	  
		  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
			<div class="col">
			  <div class="card card-cover h-100 overflow-hidden text-primary bg-dark rounded-5 shadow-lg" style="background-image: url('../static/images/design.jpeg');">
				<div class="d-flex flex-column h-100 p-5 pb-3 text-primary text-shadow-1">
				  <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Mission</h2>
				  <ul class="d-flex list-unstyled mt-auto">
					<li>
						<p class="text-primary fw-bold"> [uncountable] the art or process of deciding how something will look, work, etc. by drawing plans, making computer models, etc.</p>
					</li>
				  </ul>
				</div>
			  </div>
			</div>
	  
			<div class="col">
			  <div class="card card-cover h-100 overflow-hidden text-dark bg-dark rounded-5 shadow-lg" style="background-image: url('../static/images/develop.jpg');">
				<div class="d-flex flex-column h-100 p-5 pb-3 text-dark text-shadow-1">
				  <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Vision</h2>
				  <ul class="d-flex list-unstyled mt-auto">
					<li>
						<p class="text-dark fw-bold">[intransitive, transitive] to gradually grow or become bigger, more advanced, stronger, etc.; to make something do this</p>
					</li>
				  </ul>
				</div>
			  </div>
			</div>
	  
			<div class="col">
			  <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('../static/images/dicover.jpg');">
				<div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
				  <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Values</h2>
				  <ul class="d-flex list-unstyled mt-auto">
					<li>
						<p class="text-light fw-bold">to find somebody/something that was hidden or that you did not expect to find</p>
					</li>
				  </ul>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  
	    <!-- Marketing messaging and featurettes
		  ================================================== -->
		  <!-- Wrap the rest of the page in another container to center all the content. -->

		  <div class="container marketing">
		  
		  

			<!-- START THE FEATURETTES -->

			<hr class="featurette-divider">

			<div class="row featurette">
			  <div class="col-md-7">
				<h2 class="featurette-heading fw-normal lh-1">Search &mdash; <span class="text-muted">Explore job opportunities that match your skills and passions.</span></h2>
				<p class="lead">Explore a wide range of job opportunities across various industries.
		Filter by location, skills, experience, and more to find positions that align with your career goals.
		Our platform helps you discover the perfect job that fits your passions and qualifications.</p>
			  </div>
			  <div class="col-md-5">
				<img src="static/images/search.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="500" height="500" loading="lazy">

			  </div>
			</div>

			<hr class="featurette-divider">

			<div class="row featurette">
			  <div class="col-md-7 order-md-2">
				<h2 class="featurette-heading fw-normal lh-1">Apply &mdash; <span class="text-muted">Easily submit your application and take the next step in your career journey.</span></h2>
				<p class="lead">Ready to take the next step in your career?
		Easily submit your application with a few clicks and showcase your skills to potential employers.
		Our streamlined process ensures that you can apply quickly and efficiently, wherever you are.</p>
			  </div>
			  <div class="col-md-5 order-md-1">
				<img src="static/images/apply.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="500" height="500" loading="lazy">

			  </div>
			</div>

			<hr class="featurette-divider">

			<div class="row featurette">
			  <div class="col-md-7">
				<h2 class="featurette-heading fw-normal lh-1">Connect &mdash; <span class="text-muted">Engage with employers and professionals to build meaningful relationships.</span></h2>
				<p class="lead">Building a professional network is key to career growth.
		Once you've found a job or applied, connect directly with recruiters and businesses to build valuable relationships.
		Our platform facilitates ongoing communication to help you stay engaged and move forward.</p>
			  </div>
			  <div class="col-md-5">
				<img src="static/images/connect.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="500" height="500" loading="lazy">
			  </div>
			</div>

			<hr class="featurette-divider">

			<!-- /END THE FEATURETTES -->

		  </div><!-- /.container -->

		<div class="container col-xxl-8 px-4 py-5">
			<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
				<div class="col-10 col-sm-8 col-lg-6">
				<img src="static/images/construction.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
				</div>
				<div class="col-lg-6">
				<h1 class="display-5 fw-bold lh-1 mb-3">Website still under construction!</h1>
				<p class="lead">We’re working hard to make this website available again on Wednesday 24th May. You will then find a new design and our new collection!  Until then we look forward to seeing you on our Facebook page.</p>
				<div class="d-grid gap-2 d-md-flex justify-content-md-start">
					<button type="button" class="btn btn-primary btn-lg px-4 me-md-2"><a href="https://api.whatsapp.com/send?phone=0678281764" style="color:white">Send WhatsApp</a></button>
					<button type="button" class="btn btn-outline-secondary btn-lg px-4"><a href="mailto:support@aifanisolutions.xyz">Send Email</a></button>
				</div>
				</div>
			</div>
		</div>

	</div>
	
	<div class="b-example-divider"></div>

	<!-- Partners slider-->
	<script>
		$(document).ready(function(){
    $('.customer-logos').slick({
        slidesToShow: 6,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 1500,
        arrows: false,
        dots: false,
        pauseOnHover: false,
        responsive: [{
            breakpoint: 768,
            settings: {
                slidesToShow: 4
            }
        }, {
            breakpoint: 520,
            settings: {
                slidesToShow: 3
            }
        }]
    });
});
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>

	<div class="container">
		<br>
		<h2>Links</h2>
		</br>
		<section class="customer-logos slider">
			<div class="slide"><img src="../static/images/coursera.png"></div>
			<div class="slide"><img src="../static/images/cp.png"></div>
			<div class="slide"><img src="../static/images/google.jpeg"></div>
			<div class="slide"><img src="../static/images/microsoft.png"></div>
			<div class="slide"><img src="../static/images/namecheap.png"></div>
			<div class="slide"><img src="../static/images/cyber.png"></div>
			<div class="slide"><img src="../static/images/network.png"></div>
			<div class="slide"><img src="../static/images/support.png"></div>
		</section>
	</div>

	<br>

{% endblock %}